*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div{
    padding: 20px;
}
table{
    background-color: #513a67;
    background-image: linear-gradient(45deg, #513a67 0%, #986ca7 100%);
    color: white;
}
td{
    margin: 5px;
    padding: 5px;
}
text,textarea{
    border-radius: 5px;
}
textarea{
    width: 350px;
    height: 80px;
}
button{
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    background-color: white;
    color: #513a67;
}